{{ define "main" }}
<script>
  let carousel = {}
</script>
<section class="section-sm">
  <div class='flex-v text-center'>
    <h4 class="widget-title">{{ .Title | markdownify }}</h4>
    <a class="magazine-version" href="/ar">CHECK ENGLISH VERSION</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="content">
          {{ .Content }}
        </div>
        <hr class='mb-5 mt-5'>
        <h4 class="w-100 widget-title"><i class="ti-facebook mr-3 text-primary"></i> CONOCE NUESTRO PORTAFOLIO DE FILTROS: </h4>
        <a href="https://www.facebook.com/sparkarhub/portfolios/fb/archezinternational/" target="_blank" class="btn btn-outline-primary col-sm-6">PORTAFOLIO</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <hr class='mb-5 mt-5'>
    </div>
    </div>
  
  <div class="col-lg-8 mx-auto text-center">
    <h4 class="widget-title"><a href={{ "/categories/filter/" | absURL }} class="text-primary">VISITA NUESTRA TIENDA DE FILTROS</a></h4>
  </div>
  <!-- <div class="container">
    <div class="row">
      
      In order to display items on this list, .md files needs to be created on content/ar-esp/
      <div class="col-lg-12">
        <div class="flex-h">
          {{ $paginator := .Paginate .Data.Pages }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
    </div> -->
  </div>
</div>
</section>

<style>
.content ul li::before {
position: absolute;
content: "";
font-family: themify;
font-size: 0px;
left: 0;
padding: 0px;
top: 1px;
color: #f0c05a;
transition: .3s ease; }

.content ul li {
position: relative;
padding-left: 0px;
margin-bottom: 15px;
list-style-type: none; }

.carousel__navigation {
margin-bottom: -90% !important; }

.carousel-action-buttons {
margin-top: 50% !important; }

section {
padding-bottom: 0px !important; }
</style>
</style>

{{ end }}