{{ define "main" }}

<section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class='flex-v'>
            <h4 class="widget-title">{{ .Title | markdownify }}</h4>
          </div>
          <div class="content col-lg-6 mx-auto">
            {{ .Content }}
          </div>
          <hr class='bottom'>
        <!-- /featured post -->
        <section class="section-sm">
          
            <h4 class="w-100 widget-title"><i class="ti-instagram mr-3 text-primary"></i> CHECK OUT OUR INSTAGRAM: <br><span class="username"><a href="https://www.instagram.com/archezinternational" target="_blank">@archezinternational</a></span></h4>
          <div class="container">
              <div class="row justify-content-center">
                  <div id="instafeed"></div>
              </div>
          </div>
        </section>
        </div>
      </div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
  <script type="text/javascript">
      var feed = new Instafeed({
        accessToken: 'IGQVJVX0h0dUdFZA29UUzlTQTJ4b3NhRWtOanBGYnBKM182RThaSUJzaWx3ODJsX0U5cjZAsNGhDNDF3dG9FS04zbW5jdUlCaUdKQ1llT1luLVphQXdMWFJ2a2RES0UyMzhLNThHZAlU5eFVyMlpVTmxuNwZDZD',
        resolution: 'standard_resolution',
        target: 'instafeed',
        limit: 6
      });
      feed.run();

      window.onload = function(){
        var anchors = document.getElementById('instafeed').getElementsByTagName('a');
        for (var i=0; i<anchors.length; i++){
          anchors[i].setAttribute('target', '_blank');
        }
      }
  </script>

<style>
  hr.bottom {
    margin-top: 80px;
  }
</style>
{{ end }}