img[alt="Archez International"] {
    height: 49px !important;
}

h4 {
    font-weight: 800 !important;
}

*:not(i) {
    font-family: "Poppins" !important;
}

a.h5 {
    font-weight: 600 !important;
}

a[aria-label="Next"], a[aria-label="Next"] > span,
a[aria-label="Previous"], a[aria-label="Previous"] > span,
a[aria-label="First"], a[aria-label="First"] > span,
a[aria-label="Last"], a[aria-label="Last"] > span {
    visibility: hidden;
}

.price > p {
    margin: 0px;
    font-weight: 700;
}

.content table th, .content table td, .content table tbody td {
    text-align: center !important;
}

th > strong {
    font-weight: bold !important;
}

table, tbody, thead, tr, td, th {
    border: 0 !important;
    outline: 0 !important;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent !important;
}

a:focus { outline: 0; }

table tr td:first-child {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}

td {
    width: 50% !important;
}

.price {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.best-seller {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px;
    padding: 10px;
    background: rgb(240, 192, 90);
    color: black;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    font-weight: 700;
}

.magazine-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}

.magazine-sub-title {
    color: #000;
    margin: 0px;
}

.widget-title {
    border-top: transparent !important;
    border-bottom: transparent !important;
}

.flex-h {
    display: flex !important;
    flex-direction: row;
    justify-content: center; }
  
.flex-v {
    display: flex !important;
    flex-direction: column;
    justify-content: center; }

.purchase-disclaimer {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 10px;
}