p, .paragraph, body {
  color:#222 !important;
}

img[alt="Archez International"] {
    height: 25px !important;
}

.nav-link {
  font-size: 13px !important;
}

.featured-post .card-title {
    margin-left: 0px !important;
}

.tags-container a { 
  margin: 0px 12px;
  text-transform: uppercase;
}
.tags-container {
  margin-bottom: 28px;
  flex-wrap: wrap;
}

#instafeed > a > img {
    width: 33%;
    padding: 3%;
}

a.gumroad-button { /*overriding gumroad styles*/
  font-family: "Montserrat" !important;
  background-color: transparent !important;
  color: black !important;
  border-radius: 0px !important;
  border-color: #f0c05a !important;
}

a.gumroad-button:hover { 
  background: #f0c05a !important;
  transform: none !important;
  box-shadow: none !important;
  color: white !important;
}

a.gumroad-button > .gumroad-button-logo{
  background-color: #f0c05a !important;
}

.magazine-version {
    color: #f0c05a;
    margin-top: -22px;
    margin-bottom: 10px;
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-weight: 500 !important;
}

h6 {
  font-weight: 700 !important;
  font-size: 15px !important;
}

th > strong {
  font-weight: 700 !important;
}

li, h4, a, h6, th > strong {
  text-transform: uppercase !important;
  letter-spacing: 2px;
}

*:not(i) {
  font-family: "Montserrat" !important;
}

.over-image-container {
    position: absolute;
    z-index: 1;
}

.over-image-container > img {
    transition: opacity .5s ease-in;
}

.over-image-container > img:hover {
    opacity: 0;
    z-index: -1;
}

a.h5 {
    font-weight: 600 !important;
}

a[aria-label="Next"], a[aria-label="Next"] > span,
a[aria-label="Previous"], a[aria-label="Previous"] > span,
a[aria-label="First"], a[aria-label="First"] > span,
a[aria-label="Last"], a[aria-label="Last"] > span {
    visibility: hidden;
}

.centered-container {
  margin: 0 auto;
}

.price > p {
    font-size: 20px;
    margin: 12px 0;
    font-weight: 500;
}

.content table th, .content table td, .content table tbody td {
    text-align: center !important;
}

table, tbody, thead, tr, td, th {
    border: 0 !important;
    outline: 0 !important;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent !important;
}

a:focus { outline: 0; }

table tr td:first-child {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}

td {
    width: 50% !important;
}

.price {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.best-seller {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px;
    padding: 10px;
    background: rgb(240, 192, 90);
    color: black;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    font-weight: 700;
}

.magazine-list {
  margin: 35px 0 0 0;
}

.magazine-title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
    letter-spacing: 2px;
}

.magazine-sub-title {
    text-transform: uppercase;
    color: #000;
    margin: 0px;
}

.widget-title {
  font-weight: 600 !important; 
  border-top: transparent !important;
  border-bottom: transparent !important;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.flex-h {
    display: flex !important;
    flex-direction: row;
    justify-content: center; }
  
.flex-v {
    display: flex !important;
    flex-direction: column;
    justify-content: center; }

.purchase-disclaimer {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 10px;
}

/* carousel styles */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .hidden {
    opacity: 0; }
  
  .carousel-images-container, .carousel {
    width: 100%;
    height: 100%;
  }
  .carousel-image-item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-bottom: 35px;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
  }
  
  .carousel__navigation-button.active {
    background-color: rgba(0,0,0,.2);
  }
  
  .carousel-action-buttons {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 30px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -60%;
    padding: 0 20px;
  }

  .widget-title {
    text-align: center;
  }

  a {
    color: #f4d289
  }

  .widget-title a {
    color: #f0c05a;
  }

  .content * {
    text-align: center !important;
  }

  h4 > .username {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
  }

  .space-around {
    justify-content: space-around;
  }

  .mt-10 {
    margin-top: 4em !important;
  }
  
  .next-button {
    background-image: url(../../images/ui/next.png);
    padding: 7px 0px 5px 5px;
  }
  .prev-button {
    background-image: url(../../images/ui/prev.png);
    padding: 6px 8px 5px 5px;
  }
  
   .next-button, .prev-button {
    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .payment-methods > img {
      width: 24px;
      height: 24px;
      margin: 10px 5px;
  }

  #mastercard {
    width: 33px;
    height: 24px;
  }

  .list-unstyled {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .navbar-brand {
    margin-left: 0px !important;
  }

  .f-size-15 {
    font-size: 15px !important;
  }

  .sub-title {
    letter-spacing: 2px;
    text-transform: uppercase; 
    margin: 0px;
  }

  .home-description {
    min-height: 120px;
  }
  
  .home-icon {
    max-width: 40px;
    margin: 10px
  }

  .news-letter-description {
    margin: 60px auto 20px !important;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .gumroad-follow-form-embed {
    zoom: 1;
    display: flex; 
  }
  .gumroad-follow-form-embed * {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box !important; 
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .gumroad-follow-form-embed input {
    flex: 1;
    margin-right: .75rem;
    outline: none;
    font-family: "Mabry Pro", sans-serif;
    padding: 0.875rem 1rem;
    font-size: 1rem;
    line-height: 1.3;
    border: solid 0.0625rem #f0c05a;
    display: block;
    width: 100%;
    background-color: #ffffff;
    color: #000; 
  }

  #single-image-container {
    display: none;
    position: absolute;
    top: 0;
  }
  
  .gumroad-follow-form-embed button {
    text-transform: uppercase;
    background: transparent;
    color: black;
    font-size: 1rem;
    line-height: 1.3;
    padding: 0.875rem 1rem;
    border: solid 0.0625rem #f0c05a;
    font-family: "Mabry Pro", sans-serif;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .gumroad-follow-form-embed button:hover {
    background-color: #f0c05a;
    color: white;
  }

 @media screen and (max-width: 990px){
    .home-description {
      min-height: auto;
    }
  }

  @media (min-width:990px)  {
    .half-screen-desktop {
      max-width: 50%;
      margin: 0 auto;
    }

    .gumroad-follow-form-embed {
      max-width: 50%;
      margin: 0 auto;
    }
  }
