img[alt="Archez International"] {
    height: 25px !important;
}

.featured-post .card-title {
    margin-left: 0px !important;
}

.tags-container a { 
  margin: 0px 12px;
  text-transform: uppercase;
}
.tags-container {
  margin-bottom: 20px;
}

#instafeed > a > img {
    width: 33%;
    padding: 5%;
}

.magazine-version {
    color: #f0c05a;
    margin-top: -22px;
    margin-bottom: 10px;
    font-size: 14px;
}

h4 {
    font-weight: 800 !important;
}

*:not(i) {
    font-family: "Poppins" !important;
}

.over-image-container {
    position: absolute;
    z-index: 1;
}

.over-image-container > img {
    transition: opacity .5s ease-in;
}

.over-image-container > img:hover {
    opacity: 0;
    z-index: -1;
}

a.h5 {
    font-weight: 600 !important;
}

a[aria-label="Next"], a[aria-label="Next"] > span,
a[aria-label="Previous"], a[aria-label="Previous"] > span,
a[aria-label="First"], a[aria-label="First"] > span,
a[aria-label="Last"], a[aria-label="Last"] > span {
    visibility: hidden;
}

.price > p {
    margin: 0px;
    font-weight: 700;
}

.content table th, .content table td, .content table tbody td {
    text-align: center !important;
}

th > strong {
    font-weight: bold !important;
}

table, tbody, thead, tr, td, th {
    border: 0 !important;
    outline: 0 !important;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent !important;
}

a:focus { outline: 0; }

table tr td:first-child {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}

td {
    width: 50% !important;
}

.price {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.best-seller {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px;
    padding: 10px;
    background: rgb(240, 192, 90);
    color: black;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    font-weight: 700;
}

.magazine-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}

.magazine-sub-title {
    color: #000;
    margin: 0px;
}

.widget-title {
    border-top: transparent !important;
    border-bottom: transparent !important;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.flex-h {
    display: flex !important;
    flex-direction: row;
    justify-content: center; }
  
.flex-v {
    display: flex !important;
    flex-direction: column;
    justify-content: center; }

.purchase-disclaimer {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 10px;
}

/* carousel styles */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .hidden {
    opacity: 0;}
  
  .carousel-images-container, .carousel {
    width: 100%;
    height: 100%;
  }
  .carousel-image-item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-bottom: 35px;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
  }
  
  .carousel__navigation-button.active {
    background-color: rgba(0,0,0,.2);
  }
  
  .carousel-action-buttons {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 30px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -60%;
    padding: 0 20px;
  }
  
  .next-button {
    background-image: url(../../images/ui/next.png);
    padding: 7px 0px 5px 5px;
  }
  .prev-button {
    background-image: url(../../images/ui/prev.png);
    padding: 6px 8px 5px 5px;
  }
  
   .next-button, .prev-button {
    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* @media screen and (max-width: 990px){
    .carousel-images-container, .carousel {
        min-height: 100vw;
    }
  } */
  