<div class="col-md-4 mb-4">
    {{ range .Params.Categories }}
        {{ if eq . "BEST SELLER" }}
        <div class="best-seller">BEST SELLER</div>
        {{ end }}
    {{ end }}
    <article class="card">
        {{ if .Params.Image }}
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        </a>
        {{ end }}
        <div class="card-body px-0">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
            class="text-primary">{{ . }} |</a>
        {{ end }}
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>By {{ .Site.Params.Author }}</span>
            {{ if not .Params.HideDate }}
            {{ end }}
        </div>
        <p class="card-text">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">QUICK VIEW</a>
        </div>
    </article>
</div>