<div class="col-md-4 mb-4">
    {{ range .Params.Categories }}
        {{ if eq . "BEST SELLER" }}
        <div class="best-seller">BEST SELLER</div>
        {{ end }}
    {{ end }}
    <article class="card">
        {{ if .Params.Image }}
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        </a>
        {{ end }}
        <div class="card-body px-0">
            {{ range .Params.Categories }}
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
                class="text-primary">{{ . }} |</a>
            {{ end }}
            <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
            <div class="mb-3 post-meta">
            </div>
            <div>
                <div><p class='font-weight-bold'>{{.Params.price}}</p></div>
                <a href="{{ .Params.gumroadURL }}" target="_blank" class="btn btn-outline-primary col-sm-6">QUICK VIEW</a>
            </div>
        </div>
    </article>
</div>