{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row">
          <div class="col-lg-6 flex-v">
            <div>
				    {{ range .Params.Categories }}
					  <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-primary">{{ . }} |</a>
			      {{ end }}
			      </div>
            <h2>{{ .Title | markdownify }}</h2>
            <div class="mb-3 post-meta">
              <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
            </div>
            {{ if .Params.price }}
            <div>
              <div class="col-12 row mb-4">
                <div class='col-sm-6'>
                    <div class='row align-items-center price'>
                        <p class='text-center w-100'>
                            {{ .Params.price }}
                        </p>
                    </div>
                </div>
                <a href="{{ .Params.gumroadURL }}" target="_blank" class="btn btn-outline-primary col-sm-6">BUY NOW</a>
              </div>
            </div>
            {{ end }}
			    <p class='purchase-disclaimer'>All purchases will be made through our <a href="https://gumroad.com/archezinternational" target="_blank">gumroad</a> account. For direct payment methods (US or Colombian Banks, personal Paypal account) <a href="mailto:payments@archezinternational.com?subject=Direct payment request">contact us</a></p>
          </div>
          <div class="col-lg-6">
            {{if .Params.Images}}
            <section class="carousel">
              <div class="carousel-images-container">
                {{ range .Params.Images }}
                <img src="{{ . | absURL }}" class='carousel-image-item'/>
                {{ end }}
              </div>
                <aside class="carousel__navigation">
                  <ol class="carousel__navigation-list">
                      {{ range .Params.Images }}
                        <li class="carousel__navigation-item"></li>
                          <div class="carousel__navigation-button"></div>
                        </li>
                      {{ end }}
                  </ol>
                </aside>
              <div class="carousel-action-buttons">
                <div class="prev-button"></div>
                <div class="next-button"></div>
              </div>
            </section>
            {{ end }}
            
            <div id="single-image-container">
              {{ if .Params.OverImage }}
              <img src="{{ .Params.OverImage | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
              {{ else if .Params.Image }}
              <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
              {{ end }}
            </div>
          </div>
        </div>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="flex-h w-100 mt-5">
          <a href="{{ .Params.gumroadURL }}" target="_blank" class="btn btn-outline-primary w-40">COMPRAR AHORA</a>
        </div>
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

<style>
  .section-sm {
    padding-bottom: 0px !important;
  }
</style>
<script>
  
  let carouselIndex = 0;
  
	let images = document.getElementsByClassName("carousel-image-item")
  if (images.length > 0) document.getElementById("single-image-container").classList.add('hidden')
  let bullets = document.getElementsByClassName("carousel__navigation-button")
  
  for (let i = 0; i < images.length; i++) {
    let image = images[i];
    if (i > 0) image.classList.add('hidden');
    bullets[0].classList.add('active');
    let url = image.dataset.img;
    image.style.setProperty("background-color", "url("+ url +")");
  };
	
document.addEventListener('click', function (event) {
	
	if (event.target.matches('.prev-button')) {
      carouselIndex--;
      if (carouselIndex < 0) carouselIndex = images.length - 1;
      for (let i = 0; i < images.length; i++) {
        images[i].classList.add('hidden');
        bullets[i].classList.remove('active');
      };

      images[carouselIndex].classList.remove('hidden')
      bullets[carouselIndex].classList.add('active');
	}

	if (event.target.matches('.next-button')) {
      carouselIndex++;
      if (carouselIndex >= images.length) carouselIndex = 0;
      for (let i = 0; i < images.length; i++) {
        images[i].classList.add('hidden');
        bullets[i].classList.remove('active');
      };

      images[carouselIndex].classList.remove('hidden')
      bullets[carouselIndex].classList.add('active');
	}
}, false);
</script>

{{ end }}