{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row">
          <div class="col-lg-6 flex-v">
            <div>
				    {{ range .Params.Categories }}
					  <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-primary">{{ . }} |</a>
			      {{ end }}
			      </div>
            <h2>{{ .Title | markdownify }}</h2>
            <div class="mb-3 post-meta">
            </div>
            {{ if .Params.price }}
            <div>
              <div class="col-12 row mb-4 flex-h">
                <div class='col-sm-6'>
                    <div class='row align-items-center price'>
                        <p class='text-center w-100'>
                             ${{ .Params.price }}
                        </p>
                    </div>
                </div>
                <a class="gumroad-button" href="{{ .Params.gumroadButtonID }}" target="_blank">{{ .Params.gumroadButtonTitle }}</a>
              </div>
            </div>
            {{ end }}
          </div>
          <div class="col-lg-6" id='single-container-parent'>
            {{if .Params.Images}}
            
              <section class="carousel">
                <a href="{{ .Params.gumroadURL }}" target="_blank">
                  <div class="carousel-images-container">
                  {{ range .Params.Images }}
                    <img src="{{ . | absURL }}" class='carousel-image-item'/>
                  {{ end }}
                  </div>
                </a>
                  <aside class="carousel__navigation">
                    <ol class="carousel__navigation-list">
                        {{ range .Params.Images }}
                          <li class="carousel__navigation-item"></li>
                            <div class="carousel__navigation-button"></div>
                          </li>
                        {{ end }}
                    </ol>
                  </aside>
                <div class="carousel-action-buttons">
                  {{ if gt (len .Params.Images) 1 }}
                  <div class="prev-button"></div>
                  <div class="next-button"></div>
                  {{ end }}
                </div>
              </section>
            
            {{ end }}
            
            <div id="single-image-container">
              <p>../{{ index (.Params.images) 0 }}</p>
              <img src="{{ index (.Params.images) 0 | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">
            </div>
          </div>
        </div>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="flex-h w-100 mt-5">
          <a class="gumroad-button" href="{{ .Params.gumroadButtonID }}" target="_blank">{{ .Params.gumroadButtonTitle }}</a>
        </div>
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

<style>
  .section-sm {
    padding-bottom: 0px !important;
  }
</style>
<script type="application/ld+json">
  {
    "@context":"https://archezinternational.com/shop/{{ .Params.id }}",
    "@type":"Product",
    "productID":"{{ .Params.id }}",
    "name":"{{ .Params.title }}",
    "description":"{{ .Params.description }}",
    "url":"https://archezinternational.com/shop/{{ .Params.id }}",
    {{if .Params.Images}}
      {{ range first 1 .Params.Images }}
        "image":"{{ . | absURL }}",
      {{ end }}
    {{ end }}
    
    "brand":"archezinternational",
    "offers": [
      {
        "@type": "Offer",
        "price": "{{ .Params.price }}",
        "priceCurrency": "USD",
        "itemCondition": "new",
        "availability": "in stock"
      }
    ]
  }
  </script>
<script>
  
  let carouselIndex = 0;
  
	let images = document.getElementsByClassName("carousel-image-item")
  if (images.length > 0) document.getElementById("single-image-container").classList.add('hidden')
  let bullets = document.getElementsByClassName("carousel__navigation-button")

  let imageHeight = document.querySelector("#single-image-container").clientHeight
  let imageContainer = document.querySelector("#single-container-parent")
  imageContainer.style.height = imageHeight + "px"
  
  for (let i = 0; i < images.length; i++) {
    let image = images[i];
    if (i > 0) image.classList.add('hidden');
    bullets[0].classList.add('active');
    let url = image.dataset.img;
    image.style.setProperty("background-color", "url("+ url +")");
  };
	
document.addEventListener('click', function (event) {
	event.preventDefault()
	if (event.target.matches('.prev-button')) {
      carouselIndex--;
      if (carouselIndex < 0) carouselIndex = images.length - 1;
      for (let i = 0; i < images.length; i++) {
        images[i].classList.add('hidden');
        bullets[i].classList.remove('active');
      };

      images[carouselIndex].classList.remove('hidden')
      bullets[carouselIndex].classList.add('active');
	}

	if (event.target.matches('.next-button')) {
      carouselIndex++;
      if (carouselIndex >= images.length) carouselIndex = 0;
      for (let i = 0; i < images.length; i++) {
        images[i].classList.add('hidden');
        bullets[i].classList.remove('active');
      };

      images[carouselIndex].classList.remove('hidden')
      bullets[carouselIndex].classList.add('active');
	}
}, false);
</script>

<style>
  .carousel__navigation {
    margin-bottom: 45px !important;
  }
</style>

{{ end }}