{{ define "main" }}

<section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="content">
            {{ .Content }}
          </div>
        <!-- /featured post -->
        <section class="section-sm">
            <div class="container">
                <div class="row justify-content-center">
                    <div id="instafeed"></div>
                </div>
            </div>
        </section>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script> -->
  <!-- <script src="./js/instafeed.js"></script> -->

{{ end }}