{{ if .Site.Params.newsletter.enable }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2>{{ .Site.Params.newsletter.title | markdownify }}</h2>
        <p class="text-light px-md-5 py-4 border-left border-right border-primary">
          {{ .Site.Params.newsletter.content | markdownify }}</p>
        <form action="#" class="row justify-content-center">
          <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Your Email Address">
            <div class="input-group-append">
              <button class="input-group-text btn btn-primary">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

<footer>
  <div class="container">
    <div class="row space-around">
      <div class="col-12 text-center border-top mb-5 mt-5">

      </div>
      {{ if or  .Site.Params.mobile .Site.Params.location .Site.Params.email }}         
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">CONTACT US</h6>
        <ul class="list-unstyled">
          {{ if .Site.Params.mobile }}
          <li class="mb-3"><a class="text-dark" href="tel:{{ .Site.Params.mobile }}"><i
                class="ti-mobile mr-3 text-primary"></i>{{ .Site.Params.mobile }}</a></li>
          {{ end }}
          {{ if .Site.Params.info }}           
          <li class="mb-3"><a class="text-dark" href="mailto:info@archezinternational.com"><i
                class="ti-email mr-3 text-primary"></i>{{ .Site.Params.info }}</a>
          {{ end }}
          
          {{ if .Site.Params.featured }}           
          <li class="mb-3"><a class="text-dark" href="mailto:featured@archezinternational.com"><i
                class="ti-email mr-3 text-primary"></i>{{ .Site.Params.featured }}</a>
          {{ end }}

          {{ if .Site.Params.filter }}           
          <li class="mb-3"><a class="text-dark" href="mailto:filter@archezinternational.com"><i
                class="ti-email mr-3 text-primary"></i>{{ .Site.Params.filter }}</a>
          {{ end }}

          {{ if .Site.Params.location }}           
          <li class="mb-3"><a a class="text-dark" href="https://www.google.com/maps?client=safari&rls=en&q=medellin&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUoZa6tOPvAhXFdN8KHbC0BDUQ_AUoA3oECAEQBQ" target="_blank">
              <i class="ti-pin mr-3 text-primary"></i>{{ .Site.Params.location }}</a>
          </li>
          {{ end }}
         
          </li>
        </ul>
      </div>
      {{ end }}
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">FOLLOW US</h6>
        <ul class="list-unstyled">
          {{ range .Site.Params.social }}
          <li class="mb-3"><i class="{{ .icon }} mr-3 text-primary"></i><a class="text-dark" href="{{ .link | safeURL }}">{{ .title | title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">QUICK LINKS</h6>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a class="text-dark" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 border-top py-4 text-center">
        <div class="payment-methods flex-h">
          <img src="https://archezinternational.com/images/payment_methods/discover.png" alt="Discover" title="Discover">
          <img src="https://archezinternational.com/images/payment_methods/visa.png" alt="Visa" title="Visa">
          <img src="https://archezinternational.com/images/payment_methods/mastercard.png" alt="Mastercard" title="Mastercard" id='mastercard' >
          <img src="https://archezinternational.com/images/payment_methods/amex.png" alt="Amex" title="Amex">
          <img src="https://archezinternational.com/images/payment_methods/dinnersclub.png" alt="Dinners club" title="Dinners club">
          <img src="https://archezinternational.com/images/payment_methods/paypal.png" alt="Paypal" title="Paypal">
          <img src="https://archezinternational.com/images/payment_methods/applepay.png" alt="Apple pay" title="Apple pay">
        </div>
        {{ .Site.Params.copyright | markdownify }}
      </div>
    </div>
  </div>
</footer>

<script>
  var indexURL = {{ "index.json" | absURL }}
</script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}