{{ define "main" }}

<section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class='flex-v'>
            <h4 class="widget-title">{{ .Title | markdownify }}</h4>
            <a class="magazine-version" href="/magazine-esp">VER VERSION EN ESPAÑOL</a>
          </div>
          <div class="content">
            {{ .Content }}
          </div>
          <hr>
          <h4 class="home-title w-100 magazine-list">previous editions</h4>
            <div class='mx-auto mt-5 row'>
              <div class='col-md-6'>
                <img src="{{ .Params.Image_2020 | absURL }}" alt="" class="img-fluid">
                <div class='mb-4 mt-4'>
                    <p class='magazine-title'> {{ .Params.sub_title_2020 }} </p>
                    <p class='magazine-sub-title'> {{ .Params.sub_title_description_2020 }} </p>
                </div>
                <a href="/magazine_viewer_2020" class="btn btn-outline-primary">OPEN</a>
              </div>

              <div class='col-md-6'>
                <img src="{{ .Params.Image_2021 | absURL }}" alt="" class="img-fluid">
                <div class='mb-4 mt-4'>
                    <p class='magazine-title'> {{ .Params.sub_title_2021 }} </p>
                    <p class='magazine-sub-title'> {{ .Params.sub_title_description_2021 }} </p>
                </div>
                <a href="/magazine_viewer_2021" class="btn btn-outline-primary">OPEN</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .content img:not(.img-fluid) {
      height: 320px;
    }

    section {
      padding-bottom: 0px !important;
    }
  </style>

{{ end }}