{{ define "main" }}
<!-- Top-->
<section class="section-sm">
  <div class="container">
    <div class="content mb-4">
      {{ .Content }}
    </div>
    <div class='row justify-content-center'>
      <div class='col-lg-12 text-center'>
        <div class="row">
            <img class='centered-container' id='letter-a-container' src="images/capital_a.png" alt="#">
        </div>
        <div class="row mt-4">
          <div class="col-lg-12 description-container">
            <p class='f-size-15 sub-title'>We are an architectural space created with 3 goals in mind</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class='col-lg-4'>
            <h4 class='mb-4'>Magazine</h4>
            <a class='mb-4 btn btn-outline-primary' href='/magazine'>View more</a>
          </div>
          <div class='col-lg-4'>
            <h4 class='mb-4'>Inspiration</h4>
            <a class='mb-4 btn btn-outline-primary' href='/featured'>View more</a>
          </div>
          <div class='col-lg-4'>
            <h4 class='mb-4'>SHOP</h4>
            <a class='mb-4 btn btn-outline-primary' href='/shop'>View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AR -->
<!-- <section class="section-sm"> -->
  <!-- <div class="container">
    <hr>
    <h4 class="home-title w-100"><a href="/ar/">Augmented Reality</a></h4>
    <h4 class="w-100 widget-title"><i class="ti-facebook mr-3 text-primary"></i> CHECK OUT OUR FILTERS PORTFOLIO: </h4>
    <div class="flex-h">
      <a href="https://www.facebook.com/sparkarhub/portfolios/fb/archezinternational/" target="_blank" class="btn btn-outline-primary col-sm-6">PORTFOLIO</a>
    </div>
  </div>
</section> -->

<!-- featured post -->
<section class="section-sm">
  	<div class="container">
    	<hr>
    	<h4 class="home-title w-100"><a href="/shop/">Shop</a></h4>
    	<div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Site.RegularPages "Type" "featured" )}}
        <article class="card featured-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-5">
              <img src="{{ index (.Params.images) 0 }}" class="card-img" alt="{{ .Title | markdownify }}">
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="card-body">
                {{ range .Params.Categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
                    class="text-primary">{{ . }} |</a>
                {{ end }}
                <a href="{{ .Permalink }}"
                  class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    	</div>
  	</div>
	<div class="container text-center mt-10">
		<div class="row col-lg-8 centered-container">
			<div class='col-lg-6 counter-container'>
				<img src="/images/home/worldwide.png" alt="Countries" class='home-icon'>
				<p class='sub-title'>Countries</p>
				<h3	 class="counter" counter-value='12'></h3>
			</div>
			<div class='col-lg-6 counter-container'>
				<img src="/images/home/sales.png" alt="Sales" class='home-icon'>
				<p class='sub-title'>Sales</p>
				<div class="flex-h">
					<h3 class='counter-helper'>+</h3>
					<h3 class="counter" counter-value='1500'></h3>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- magazine -->
<!-- <section class="section-sm">
  <div class="container">
    <hr>
    <h4 class="home-title w-100"><a href="/magazine/">Magazine</a></h4>
    <div class="row">
      <div class="row">
        <div class="col-md-4 mx-auto text-center">
          <div class='d-block mx-auto mt-5'>
            <img src="/images/magazine2020.png" alt="" class="img-fluid">
            <div class='mb-4 mt-4'>
                <p class='magazine-title'> ARCHEZ MAGAZINE 2020 </p>
                <p class='magazine-sub-title'> 1st edition </p>
            </div>
            <a href="/magazine_viewer_2020" class="btn btn-outline-primary">OPEN</a>
          </div>
      </div>

      <div class="col-md-4 mx-auto text-center">
        <div class='d-block mx-auto mt-5'>
          <img src="/images/magazine2021.png" alt="" class="img-fluid">
          <div class='mb-4 mt-4'>
              <p class='magazine-title'> ARCHEZ MAGAZINE 2021 </p>
              <p class='magazine-sub-title'> 2nd edition </p>
          </div>
          <a href="/magazine_viewer_2021" class="btn btn-outline-primary">OPEN</a>
        </div>
    </div>
      </div>
    </div>
  </div>
</section> -->

<!-- news letter -->
<section>
  <div id='newsletter' onclick="scrollTo('newsletter')" class="container">
    <hr>
    <h4 class="home-title w-100"><a href="#newsletter">NEWS LETTER</a></h4>
    <p class="half-screen-desktop news-letter-description"><i>Subscribe now to our newsletter to receive our <b>special discounts</b>, <b>freebies</b> and <b>news</b>.  Don't worry archifriend, we won't spam you, we promise!</i></p>
    <form action="https://app.gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
      <input name="seller_id" type="hidden" value="1030246233100">
      <input name="email" placeholder="Your email address" type="email">
      <button data-custom-highlight-color="" type="submit">Subscribe</button>
    </form>
  </div>
</section>

<!-- instagram -->
<section class="section-sm">
  <div class="container">
    <hr>
    <h4 class="home-title w-100"><a href="/featured/">Featured</a></h4>
    <h4 class="w-100 widget-title"><i class="ti-instagram mr-3 text-primary"></i> CHECK OUT OUR INSTAGRAM: </h4>
    <div class="text-center">
      <span class="username"><a href="https://www.instagram.com/archezinternational" target="_blank">@archezinternational</a></span>
    </div>
      <div class="row justify-content-center">
          <div id="instafeed">
            <a href="#"><img src="images/white.png" alt=""></a><a href="#"><img src="images/white.png" alt=""></a><a href="#"><img src="images/white.png" alt=""></a><a href="#"><img src="images/white.png" alt=""></a><a href="#"><img src="images/white.png" alt=""></a><a href="#"><img src="images/white.png" alt=""></a>
          </div>
      </div>
  </div>
</section>

<!-- /blog post -->
  <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
  <script type="text/javascript">
      
	  var feed = new Instafeed({
        accessToken: 'IGQVJWVnAzTlIxVWpGOWk0Q0pXVWJLUkpRWnRjcVJ5NTZAPMVAwc0lXNmhKdjEyWnpyeG5lR0haU0p6dDBYRWFScjdieGpMTUl3ZAG5JQXlpQ18yQzdubm5SU2VYa0tfYVpYRFJjTnlHRnZApSGlxVU1ucgZDZD',
        resolution: 'standard_resolution',
        target: 'instafeed',
        limit: 6
      });
      feed.run();

      window.onload = function(){
        var anchors = document.getElementById('instafeed').getElementsByTagName('a');
        for (var i=0; i<anchors.length; i++){
          anchors[i].setAttribute('target', '_blank');
        }
      }

	const observer = new IntersectionObserver((entries) => { 
    	entries.forEach((entry) => {
    	    startCounter();
    	})
	}); 

  function scrollTo(hash) {
    location.hash = "#" + hash;
  }

	observer.observe(document.querySelector('.counter'));

	function startCounter() {
		const counters = document.querySelectorAll('.counter');
		const speed = 50;

		counters.forEach( counter => {
			counter.innerText = "0";
		});

		counters.forEach( counter => {
		const animate = () => {
			const value = +counter.getAttribute('counter-value');
			const data = +counter.innerText;
			
			const time = value / speed;
			if (data < value) {
				counter.innerText = Math.ceil(data + time);
				setTimeout(animate, speed);
			} else {
				counter.innerText = value;
			}			
		}
		
		animate();
		});
	}
  </script>

  <style>

   .description-container {
      margin: auto 0;
    }

    hr {
      box-sizing: content-box;
      height: 0;
      margin-top: 50px;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .small-post-border:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,.1);
    }

    .content * {
      text-align: center !important;
    }

    .home-title {
      font-weight: 600 !important;
      text-transform: uppercase;
      margin: 35px 0px 30px
    }

	.counter, .counter-helper {
		color: rgb(98, 98, 98);
		font-size: 45px;
	}

    .home-title > * {
      color: black;
    }

    .content img:not(.img-fluid) {
      height: 320px;
    }

    section {
      padding-bottom: 0px !important;
    }
    
    #letter-a-container {
      max-width: 35%;
      max-height: 30vh;
    }
  
     @media screen and (max-width: 990px){
		.counter-container {
			margin-top: 20px;
		}
      	
		#letter-a-container  {
        	width: 35%;
        	margin: 0 auto;
        	border: transparent;
      	}
    }
  </style>

{{ end }}