{{ define "main" }}

<!-- featured post -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Site.RegularPages "Type" "featured" )}}
        <article class="card featured-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-5">
              {{ if .Params.OverImage }}
              <img src="{{ .Params.OverImage | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">
              {{ else if .Params.Image }}
              <img src="{{ .Params.Image | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">
              {{ end }}
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="card-body">
                {{ range .Params.Categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
                    class="text-primary">{{ . }} |</a>
                {{ end }}
                <a href="{{ .Permalink }}"
                  class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section-sm">
    <h4 class="w-100 widget-title"><i class="ti-instagram mr-3 text-primary"></i> CHECK OUT OUR INSTAGRAM: <br><span class="username"><a href="https://www.instagram.com/archezinternational" target="_blank">@archezinternational</a></span></h4>
  <div class="container">
      <div class="row justify-content-center">
          <div id="instafeed"></div>
      </div>
  </div>
</section>
<!-- /blog post -->
  <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
  <script type="text/javascript">
      var feed = new Instafeed({
        accessToken: 'IGQVJVX0h0dUdFZA29UUzlTQTJ4b3NhRWtOanBGYnBKM182RThaSUJzaWx3ODJsX0U5cjZAsNGhDNDF3dG9FS04zbW5jdUlCaUdKQ1llT1luLVphQXdMWFJ2a2RES0UyMzhLNThHZAlU5eFVyMlpVTmxuNwZDZD',
        resolution: 'standard_resolution',
        target: 'instafeed',
        limit: 6
      });
      feed.run();

      window.onload = function(){
        var anchors = document.getElementById('instafeed').getElementsByTagName('a');
        for (var i=0; i<anchors.length; i++){
          anchors[i].setAttribute('target', '_blank');
        }
      }
  </script>

  <style>
    .widget-title {
      text-align: center;
    }

    .widget-title a {
      color: #f0c05a;
    }

    h4 > .username {
      font-size: 16px;
      font-weight: 300;
      color: rgba(0,0,0,0.5);
    }

    .content * {
      text-align: center !important;
    }
  </style>

{{ end }}