{{ define "main" }}

<section class="section-sm">
  <div class="col-lg-8 mx-auto text-center">
    <h4 class="widget-title">{{ .Title | markdownify }}</h4>
  </div>
  <div class="container">
    <div class="content mb-4">
      {{ .Content }}
    </div>
    <div class='row justify-content-center'>
      <div class='col-lg-8 text-center'>
        <div class="row">
          <div class="col-lg-6 small-post-border">
            <a class="text-dark" href="mailto:{{ .Site.Params.info }}">
              <i class="ti-email h3 text-primary"></i>
              <h5 class="font-weight-bold my-3">Info</h5>
            </a>
            {{ .Site.Params.info }}
          </div>
          <div class="col-lg-6 small-post-border">
            <a a class="text-dark" href="https://www.google.com/maps?client=safari&rls=en&q=medellin&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUoZa6tOPvAhXFdN8KHbC0BDUQ_AUoA3oECAEQBQ" target="_blank">
              <i class="ti-pin h3 text-primary"></i>
              <h5 class="font-weight-bold my-3">Location</h5>
            </a>
            {{ .Site.Params.location | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}